<h2>{{ section.settings.title }}</h2>
<div>{{ section.settings.richtext }}</div>

<div>
  {{ section.settings.product_setting.featured_image | image_url: width: 500, height: 500 | image_tag }}
  <p>
    {{ section.settings.product_setting }} | {{ section.settings.product_setting.title }} -
    {{ section.settings.product_setting.variants[0].price | money }}
  </p>
</div>

{% schema %}
{
  "name": "Sections Demo",
  "tag": "section",
  "class": "sections-demo",
  "limit": 2,
  "settings": [
    {
      "id": "title", // Usage: section.settings.title
      "type": "text",
      "label": "Title"
    },
    {
      "id": "richtext",
      "type": "richtext",
      "label": "Richtext"
    },
    {
      "id": "product_setting",
      "type": "product",
      "label": "Product Setting"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Sections Demo",
      "settings": {}
    }
  ]
}
{% endschema %}
